cmds:
  ssh: /usr/bin/ssh
  zfs: /sbin/zfs

# The policies have reasonable names in this file, but you can name them as
# you please, and have as many as you want.

policies:
  hourly:
    type: snapshot
    # If you leave 'include' unset all datasets will be snapshoted by default
    include:
      - '*'
    exclude:
      - 'pool-2/backup'
    keep: 24

  # A minimal config version that snapshots all datasets with no excludes
  # non-recursively
  daily:
    type: snapshot
    keep: 31

  # You can have many include and exclude patterns
  monthly:
    type: snapshot
    include:
      - 'pool-1*'
      - 'pool-2*'
    exclude:
      - 'pool-1/backup'
      - 'pool-2/backup'
    keep: 3

  recursive-1:
    # Here we are doing recursive snapshots on the top level only, excluding
    # all nested datasets.
    type: snapshot
    include:
      - '*'
    exclude:
      - '*/*'
    keep: 12
    recursive: yes

  replicate-vms:
    # The destination dataset _must_ be unused, preferable not even created,
    # as zfssnap will ensure it is looking like the source, and even destroying
    # the remote dataset recursively if --reset is given, to ensure compliance.
    type: replication
    source:
      dataset: 'pool-1/vms-1'
    destination:
      dataset: 'pool-2/backup/vms-1'

      # Leave unset if local destination dataset. Not needed if the remote user
      # is the same as the user running the script.
      ssh_user: root

      # Leave unset if local destination dataset.
      host: remotehost
      cmds:
        zfs: /sbin/zfs
